<h1 class="real-human-being">What's the weather like in Canadia?</h1>

<% if @mickey.text_eh? %>
  <p class="a-hero-eh">
    <%= @mickey.content %>
  </p>
<% elsif @mickey.image_eh? %>
  <div class="illustration">
    <img src="<%= @mickey.content %>" style="max-width:100%;height:auto;"/>
  </div>
<% elsif @mickey.video_eh? %>
  <div class="illustration">
    <video controls="controls">
      <source src="<%= @mickey.content %>" type="video/mp4"></source>
    </video>
  </div>
  <div class="metadata">
    <% if @mickey.has_source_eh? %>
      <a class="source" href="<%= @mickey.source %>">
        <%= "More info" %>
      </a>
    <% end %>
  </div>
<% end %>

<ul class="references">
  <li>
    <a class="slug" href="<%= @mickey.slug %>">
      <%= "Permalink" %>
    </a>
  </li>
  <li>
    <a href="/">
      <span class="bill-werbeniuk">No seriously,</span>Long Johns or not?
    </a>
  </li>
</ul>
